<div id="div_search">
    <input type="text" id="search" placeholder="Recherche" [formControl]="search" >
</div>


{{ results | json }}


<div class="carousel_fe">
    <button class="carousel-btn prev">←</button>
    <div class="cat">
        <div class="element_cat">
            <span class="figure"><img src="" alt=""></span>
            <span class="tag">test</span>
        </div>
        <div class="element_cat">
            <span class="figure"><img src="img/chouette-de-dijon.jpg" alt=""></span>
            <span class="tag">test</span>
        </div>
        <div class="element_cat">
            <span class="figure"><img src="img/chouette-de-dijon.jpg" alt=""></span>
            <span class="tag">test</span>
        </div>
        <div class="element_cat">
            <span class="figure"><img src="img/chouette-de-dijon.jpg" alt=""></span>
            <span class="tag">test</span>
        </div>
        <div class="element_cat">
            <span class="figure"><img src="img/chouette-de-dijon.jpg" alt=""></span>
            <span class="tag">test</span>
        </div>
        <div class="element_cat">
            <span class="figure"><img src="img/chouette-de-dijon.jpg" alt=""></span>
            <span class="tag">test</span>
        </div>
    </div>
    <button class="carousel-btn next">→</button>
</div>