<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fil Rouge</title>
    <link rel="stylesheet" href="src/css/main.css">
</head>
<body>
    <div id="header">
        <ul id="navigation">
            <li><a href="#" title="aller à la section 1">Home</a></li>
            <li><a href="#" title="aller à la section 2">About</a></li>
            <li><a href="#" title="aller à la section 3">Pages</a></li>
            <li><a href="#" title="aller à la section 4">item4</a></li>
            <li><a href="#" title="aller à la section 5">item5</a></li>
        </ul>
    </div>
    
    <div id="content">

        <h1>Connexion</h1>
        <div id="form_connect">
            <form action="/login" method="POST">
                <input type="text" name="username" placeholder="Username">
                <input type="password" name="password" placeholder="Password">
                <input type="submit" value="Entrer">
            </form>
        </div>
    </div>
</body>
</html>