<div id="most_popular" class="home_element">
    <h2>Most Popular</h2>

    <div id="allElementsPopular">
        <div class="elementPopular"  style="background-color: #F1D0FB;">
            <img src="img/chouette-de-dijon.jpg" alt="Story">
            <div class="popular-content">
                <span class="tag">FOOD</span>
                <h3>Reality Hosting, The Use Computer Modeling</h3>
                <p>Esther Howard | 3 min </p>
            </div>
        </div>
        <div class="elementPopular"  style="background-color: #F1D0FB;">
            <img src="img/chouette-de-dijon.jpg" alt="Story">
            <div class="popular-content">
                <span class="tag">FOOD</span>
                <h3>Reality Hosting, The Use Computer Modeling</h3>
                <p>by Esther Howard</p>
            </div>
        </div>

        <div class="elementPopular"  style="background-color: #F1D0FB;">
            <img src="img/chouette-de-dijon.jpg" alt="Story">
            <div class="popular-content">
                <span class="tag">FOOD</span>
                <h3>Reality Hosting, The Use Computer Modeling</h3>
                <p>Esther Howard | 3 min </p>
            </div>
        </div>
        <div class="elementPopular"  style="background-color: #F1D0FB;">
            <img src="img/chouette-de-dijon.jpg" alt="Story">
            <div class="popular-content">
                <span class="tag">FOOD</span>
                <h3>Reality Hosting, The Use Computer Modeling</h3>
                <p>by Esther Howard</p>
            </div>
        </div>

    </div>

</div>