<div id="top_videos" class="home_element">
    <h2>Top Videos</h2>

    <div class="container">
        <!-- Grande carte principale -->
        <div class="main-card">
            <img src="img/{{articles[0].Picture}}" alt="Main Story">
            <div class="card-overlay">
                <span class="tag">{{articles[0].Tag}}</span>
                <h2>{{articles[0].Title}}</h2>
                <div class="meta-info">
                    <span>by <strong>Jenny Wilson</strong></span>
                    <span>|</span>
                    <span>2 min read</span>
                    <span>|</span>
                    <span>9k views</span>
                </div>
                <button class="video-play-button">
                    <i>▶</i>
                </button>
            </div>
        </div>

        <!-- Liste des petites cartes -->
        <div class="small-cards">
            <ng-container *ngFor="let article of articles;let i = index; let last = last">

                <!-- Ajouter if de index Geoffrey-->
                <div class="small-card">
                    <img src="img/{{article.Picture}}" alt="Story">
                    <div class="card-content">
                        <span class="tag">{{article.Tag}}</span>
                        <h3>{{article.Title}}</h3>
                        <p>by Esther Howard</p>
                    </div>
                    <button class="video-play-button">
                        <i>▶</i>
                    </button>
                </div>
            </ng-container>
        </div>
    </div>


</div>