    <h1>{{Title}}</h1>
    <form (ngSubmit)="onSubmit()" class="login-container">
        <label for="username">Username:</label>
        <input type="text" id="username" [(ngModel)]="username" name="username" required>
    
        <label for="password">Password:</label>
        <input type="password" id="password" [(ngModel)]="password" name="password" required>

        <input type="hidden" id="type" [(ngModel)]="type" name="type" required>

        <button type="submit">{{Title}}</button>
        <br>
        <a routerLink="/{{url}}">{{urlText}}</a>
    </form>
