<div id="recent_article" class="home_element">
    <h2>Recent Articles</h2>

    

    <div class="container">
        <!-- Grande carte à gauche -->
        <div class="main-card">
            <img src="img/chouette-de-dijon.jpg" alt="Main Story">
            <div class="card-overlay">
                <span class="tag">FOOD</span>
                <h2>Beauty Of Deep Space. Billions Of Galaxies In The Universe</h2>
            </div>
        </div>

        <!-- Grille des petites cartes -->
        <div class="small-cards">
            <!-- Petite carte 1 -->
            <div class="small-card" style="background-color: #F0FECD;">
                <img src="img/chouette-de-dijon.jpg" alt="Story">
                <div class="card-content">
                    <span class="tag">SPORTS</span>
                    <h3>Virtual Reality (VR), The Use Computer Modeling</h3>
                </div>
            </div>
            <!-- Petite carte 2 -->
            <div class="small-card" style="background-color: #F1D0FB;">
                <img src="img/chouette-de-dijon.jpg" alt="Story">
                <div class="card-content">
                    <span class="tag">TRAVEL</span>
                    <h3>Reality Hosting, The Use Computer Modeling</h3>
                </div>
            </div>
            <!-- Petite carte 3 -->
            <div class="small-card" style="background-color: #FDEBDD;">
                <img src="img/chouette-de-dijon.jpg" alt="Story">
                <div class="card-content">
                    <span class="tag">FASHION</span>
                    <h3>Air Pods Pro With Wireless Charging Case</h3>
                </div>
            </div>
            <!-- Petite carte 4 -->
            <div class="small-card" style="background-color: #F1D0FB;">
                <img src="img/chouette-de-dijon.jpg" alt="Story">
                <div class="card-content">
                    <span class="tag">TECH</span>
                    <h3>Smarter Food Choices 101 Tips For Busy Women</h3>
                </div>
            </div>
        </div>
    </div>

</div>
